{% extends "quiz/base.html" %}
{% block content %}
    <a class="new-quiz-btn" href="{% url 'start_quiz' %}">{% if has_ongoing_quiz %}Resume {{ quiz_repr }}{% else %}Start a random quiz{% endif %}</a>

    <h3 style="margin-bottom: 5px;">Quiz history</h3>
    {% if user_quiz_history  %}
    <table>
        <thead>
            <tr><th>Quiz</th><th>Score</th><th>Completed</th></tr>
        </thead>
        <tbody>
            {% for qh in user_quiz_history %}
                <tr><td style="width: 100px; text-align: left;">{{ qh.quiz }}</td>
                    <td style="width: 50px; text-align: right;">{{ qh.score }} / 10</td>
                    <td style="width: 250px; text-align: right;">{{ qh.completed_at }}</td></tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No quiz is completed.</p>
    {% endif %}
{% endblock %}
