{% extends "quiz/base.html" %}
{% block content %}
<main class="main-holder">
    <h1>Quiz - {{ quiz_id }}</h1>
    <h3>{{ question_no }} - {{ question|safe }}</h3>
    {% if submitted_answer %}
        <p>Your answer "{{ user_answer|safe }}" is {% if is_correct %}<span class="success">correct</span>{% else %}<span class="has-error">wrong</span>{% endif %}.</p>
        {% if not is_correct %}
            <p>The correct answer is "{{ correct_answer|safe }}".</p>
        {% endif %}
        <p>{{ success_ratio }}% of the users answered correctly.</p>
        <br />
        {% if not score %}<a class="next-btn" href="{{ next_question }}">Next question</a>{% endif %}
    {% else %}
        <form method="post">
            {% csrf_token %}
            {% for ans in answers %}
                <input type="radio" name="answer" value="{{ ans.text }}" required /> {{ ans.text|safe }} <br /><br />
            {% endfor %}
            <input type="submit" value="Submit" class="submit-btn" />
        </form>
    {% endif %}
    {% if score %}
        <h3>The quiz has been completed.</h3>
        <p>Your score is: <h2>{{ score }} / 10</h2></p>
    <div>
        <a class="next-btn" href="/quiz/">Take another quiz</a>
        <a style="margin-left: 5px;" class="next-btn" href="/">Return to home page</a>
    </div>
    {% endif %}
</main>
{% endblock %}
