{% extends "quiz/base.html" %}
{% block content %}
<main class="main-holder">
    <h1>Login</h1>
    {% if messages %}
        <div>
            {% for message in messages %}
            <h3 class="{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}has-error{% endif %}">{{ message }}</h3>
            {% endfor %}
        </div>
    {% endif %}

    <form class="main-form" action="" method="post" autocomplete="off">
      {% csrf_token %}
        {{ form.username.label}} {{ form.username }}
        {{ form.password.label }} {{ form.password }}
        <input type="submit" value="Login" class="submit-btn" />
    </form>

    <p class="small padding-top">New to QuizGame? <a href="{% url 'registration_page'%}">Register</a> here.</p>
</main>
{% endblock %}
