{% extends "quiz/base.html" %}
{% block content %}
<main class="main-holder">
    <h1>User registration</h1>
    {% if form.errors %}
        <div class="has-error">
            {% for field in form %}
                {% for error in field.errors %}
                    <span>{{ error|escape }}</span>
                {% endfor %}
            {% endfor %}
            <br />
        </div>
    {% endif %}

    <form class="main-form" action="" method="post" autocomplete="off">
        {% csrf_token %}
        {{ form.username.label}} {{ form.username }}
        {{ form.password1.label }} {{ form.password1 }}
        {{ form.password2.label }} {{ form.password2 }}
        <input type="submit" value="Create user" />
    </form>
    <p class="small padding-top">Already have an account? <a href="{% url 'login_page'%}">Login</a> here.</p>
</main>
{% endblock %}
